@import url("font.css");

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.upper-menu--off-mobile {
    display: block;
}

.about__text--on-desktop {
    display: block;
}

.upper-menu--off-desktop {
    display: none;
    align-items: center;
    width: 100%;
    height: 88px;
    padding: 18px 16px 18px 0;
    background-color: #F8F8F8;
}
.title-services--off-desktop {
    display: none;
}
.about__text--off-mobile {
    display: block;
}




.logo--margin {
    margin-left: 16px;
    margin-right: auto;
}
.upper-menu__chat {
    margin-left: 16px;
}
.upper-menu__profile {
    margin-left: 16px;
}
.upper-menu__divider {
    margin-left: 16px;
}
.repair--position {
    font-family: "TT Lakes Bold", sans-serif;
    font-size: 16px;
    color: #1B1C21;
    text-decoration: none;
    margin-left: auto;
    display: flex;
}
.repair__repair-text {
    display: block;
}
.repair__repair-img {
    padding-left: 9px;
}
.check-status--position {
    font-family: "TT Lakes Bold", sans-serif;
    font-size: 16px;
    color: #1B1C21;
    text-decoration: none;
    margin-left: 32px;
    display: block;
    height: 55px;
}
.check-status__checkstatus-text {
    width: 200px;
}

.check-status__checkstatus-text::after {
    content: " ";
    display: block;
    position: relative;
    top: -30px;
    right: -135px;
    width: 40px;
    height: 40px;
    background: url("upper-menu-image/checkstatus.svg") no-repeat;
}
.check-status__checkstatus-img {
    display: none;
    padding-left: 9px;
}

.upper-menu-desktop {
    display: flex;
    align-items: center;
    width: 100%;
    height: 88px;
    padding: 18px 16px 18px 0;
    background-color: #F8F8F8;
}

.upper-menu-desktop__btn {
    display: flex;
    align-items: center;
}

.upper-menu-desktop__repair {
    display: block;
    font-family: "TT Lakes Bold", sans-serif;
    font-size: 16px;
    color: #1B1C21;
    width: 250px;
    height: 40px;
    border: none;
    background: #F8F8F8 url("repair.svg") no-repeat 200px 0;
}

.main {
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
}

.slide-menu__list-menu {
    display: flex;
    justify-content: left;
    overflow: visible;
    flex-wrap: wrap;
    font-family: "TT Lakes Medium", sans-serif;
    font-size: 16px;
    color: #7E7E82;
    list-style: none;
    padding-left: 16px;
    margin-bottom: 20px;
}
.list-menu__elem {
    padding-left: 16px;
    margin-bottom: 22px;
}

.slide-menu__list-menu--item--link {
    display: block;
    width: max-content;
    padding: 8px 20px;
    text-decoration: none;
    color: #7E7E82;

}
.slide-menu__list-menu--item {
    border: 2px solid rgba(0,0,0,0);
}
.slide-menu__list-menu--item--active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    color: #1B1C21;
}
.about {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: "TT Lakes Regular", sans-serif;
    font-size: 14px;
    color: #1B1C21;
    margin: 0;
    padding: 0;
}
.about__article {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}
.about__text {
    width: 100%;
    max-width: 490px;
    padding-bottom: 16px;
    padding-right: 0;
    padding-left: 0;
    margin: 0;

}

.about__button {
    margin-left: 0;
}
.about__image-about {
    min-width: 530px;
    width: 100%;
    margin-right: 28px;
    margin-left: 36px;
    margin-bottom: 49px;
}
